{% extends 'base.html' %} 
{% load static %}

{% block stylesheets %}
<style>
  .section {
   margin-bottom: 10%;
   border-radius: 20px;

  padding: 30px;
  /*border: red 1px solid;*/
}

    a:hover {
  color:#e1ad02;
  text-decoration: none;
}

a {
  text-decoration: none;
}

  /* Estilos para los checkboxes redondos del control de capas */
  .leaflet-control-layers-overlays label {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #ffffff; /* Cambia el color de fondo si lo deseas */
    border: 2px solid #000000; /* Cambia el color del borde si lo deseas */
    cursor: pointer;
    margin-bottom: 5px;
  }

  .leaflet-control-layers-selector {
    display: none; /* Oculta el checkbox predeterminado */
  }

  .leaflet-control-layers-selector:checked + span:before {
    content: "\2714"; /* Símbolo de marca de verificación para el checkbox seleccionado */
    font-size: 15px;
    padding-right: 5px;
  }

  <style>
  .leaflet-control-layers-overlays label {
    display: none;
  }



    
    .logo-container {
    width: 400px; 
    height: 195px;
}
        .content-logo{
          background-color: #000000; 
          margin-top: 10%; 
          margin-bottom: 5%; 
          border-radius: 20px;
          height: 70%;
        }

        .intro{
          color:#fff;
          font-size: 24px;
        }
        .cono{
          width: 50px;
          height: 50px;
        }
        .intro2{
          color:#fff;
          font-size: 14px;
        }

  @media screen and (max-width: 768px) {
      
    .logo-container {
    width: 200px; 
    height: 150px;
}
        .content-logo{
          background-color: #000000; 
          margin-top: 10%; 
          margin-bottom: 10%; 
          border-radius: 20px;
          height: 100%;
        }
        .intro{
          color:#fff;
          font-size: 12px;
        }
        .cono{
          width: 30px;
          height: 30px;
        }
        .map{
        height: 600px;
       }
        }

        .cono2{
          width: 15px;
          height: 15px;
        }
        @media (min-width: 768px) {
       .map{
        height: 800px;
       }
    }
  
    /* Agregar estilos adicionales para las capas en el control */
    .custom-layer-icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    .custom-layer-label {
      font-size: 14px;
    }
 

</style>
{% endblock%}



{% block content %}
<div class="container-fluid">
    <div class="row">
      
      
      <div id="map" class="map"></div>
      <div id="layerControl" class="leaflet-control-layers leaflet-control"></div>

     


      <script src="{% static 'leaflet/leaflet.js' %}"></script>
      <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />

      <script>
        var map = L.map('map').setView([0, 0], 2);
      
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
      
        var zonasLayer = L.layerGroup();
        var inmueblesLayer = L.layerGroup();
      
        {% for zone in zones %}
          var desdeCoords = [{{ zone.latitude_since }}, {{ zone.longitude_since }}];
          var hastaCoords = [{{ zone.latitude_until }}, {{ zone.longitude_until }}];
      
          L.marker(desdeCoords).bindPopup('Desde: {{ zone.since }} - {{ zone.colony }}').addTo(zonasLayer);
          L.marker(hastaCoords).bindPopup('Hasta: {{ zone.until }} - {{ zone.colony }}').addTo(zonasLayer);
      
          var lineCoords = [desdeCoords, hastaCoords];
          var line = L.polyline(lineCoords, { color: 'blue' }).addTo(zonasLayer);
        {% endfor %}
      
        {% for inmueble_instance in inmueble %}
          var inmuebleCoords = [{{ inmueble_instance.latitude }}, {{ inmueble_instance.longitude }}];
          var redIcon = new L.Icon({
            iconUrl: '{% static "mapa/DesarrollobigOn.png" %}',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
          });
      
          L.marker(inmuebleCoords, { icon: redIcon })
                .bindPopup(
                  "<div><center><b><img style='width='150px' height='150px' src='{{inmueble_instance.image.url}}'></b></center><br>Inmueble: {{ inmueble_instance.development }}<div>").addTo(inmueblesLayer);
        {% endfor %}
      
        var centerCoordinates = [25.67830309789344, -100.3143231144636];
        var zoomLevel = 13;
        map.setView(centerCoordinates, zoomLevel);

        // Crea un control personalizado
        var customControl = L.Control.extend({
          onAdd: function(map) {
            var container = L.DomUtil.create('div', 'custom-control'); // Crea un elemento div con la clase 'custom-control'
            container.innerHTML = "<div class='custom-item' onclick='toggleLayer(\"zonas\")'><img src='{% static "mapa/recursoHidircoMediumOn.png" %}'></div>" +
                                  "<div class='custom-item' onclick='toggleLayer(\"inmuebles\")'><img src='{% static "mapa/DesarrollobigOn.png" %}'></div>";
            return container;
          },
        });

        // Agrega el control personalizado al mapa
        (new customControl()).addTo(map);

        // Función para alternar la visibilidad de las capas
        function toggleLayer(layerName) {
          if (layerName === 'zonas') {
            if (map.hasLayer(zonasLayer)) {
              map.removeLayer(zonasLayer);
            } else {
              map.addLayer(zonasLayer);
            }
          } else if (layerName === 'inmuebles') {
            if (map.hasLayer(inmueblesLayer)) {
              map.removeLayer(inmueblesLayer);
            } else {
              map.addLayer(inmueblesLayer);
            }
          }
        }
      
       
        inmueblesLayer.addTo(map); 
        zonasLayer.addTo(map); 
    
      </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    

{% endblock %}
