{% extends 'base.html' %} 
{% load static %}

{% block stylesheets %}
<style>

iframe{
  width:100%;
  height: 800px;
}
.img-infografia1{
  width: 503px;
  height:260px;
  margin-left: 3%;
  padding:20px;
}
.img-infografia2{
  width: 403px;
  height:256px;
}
.img-infografia3{
  width: 300px;
  height:150px;
}
@media (max-width: 768px) {
  iframe{
  width:100%;
  height: 500px;
}
}
</style>
{% endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <br>
    <br>
    <br>
    <section class="video" style="margin-top:10%">
      <iframe  src="https://www.youtube.com/embed/Ytc-_NKKC-8?si=F7zXjmPD08_RImoG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-5" style="background-color: #FCEA1F;">
      <img class="img-infografia1" src="{% static 'home/inf1.png' %}">
    </div>
    <div class="col-lg-4"></div>

  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <img  src="{% static 'home/inf2.png' %}">

    </div>
    <div class="col-lg-3">
      <img  src="{% static 'home/inf3.png' %}">
    </div>
    <div class="col-lg-3">
      <img  src="{% static 'home/inf4.png' %}">

    </div>
    <div class="col-lg-3">
      <img  src="{% static 'home/inf5.png' %}">

    </div>
  </div>
</div>

<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <img  src="{% static 'home/inf6.png' %}">

    </div>
    <div class="col-lg-3">
      <img  src="{% static 'home/inf7.png' %}">
    </div>
    <div class="col-lg-3" >
      <img style="margin-left: 20%;"  src="{% static 'home/inf8.png' %}">

    </div>
    <div class="col-lg-3">
      <img  src="{% static 'home/inf9.png' %}">

    </div>
  </div>
</div>

<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      

    </div>
    <div class="col-lg-3">
      <img  src="{% static 'home/inf10.png' %}">
    </div>
    <div class="col-lg-1" >
      <img style="margin-left: 20%; width: 50px;"  src="{% static 'home/inf11.png' %}">

    </div>
    <div class="col-lg-5">
      <h5 style="color: #fff; font-size:15px;"><b>Fuentes:</b></h5>
      <p style="color: #fff; font-size:13px;">Base de datos propia con información de Municipio de Monterrey <br>
        Base de datos extraída de inmuebles24 <br>
          Encuesta Nacional de Ocupación y Empleo </p>

    </div>
  </div>
</div>
{% endblock %}