{% extends 'base.html' %} 
{% load static %}

{% block stylesheets %}
<style>
    p{
        color: #fff;
    }
    h2{
        color: #FCEA1F;
    }
    h4{
        color: #FCEA1F;
    }
</style>
{% endblock%}

{% block content %}
<div class="container">
    <div class="row" style="margin-top:3%;">
        <h2>Términos y Condiciones de Uso</h2>
        <br>
        <br>
            <h4>POLÍTICA DE PRIVACIDAD</h4>
            <br>
            <br>
            <br>
            <br>
                <p>El sitio web del Centro de Periodistas y Blogueros de la Frontera se compromete a proporcionarle información profesional y no recopila datos personales en nuestro sitio web.
                    Utilizamos Google Analytics para ayudarnos a mejorar nuestra utilidad para usted. Las analíticas nos muestran información general, no personal, como el modo en que los usuarios interactúan con el sitio (incluidos los nombres de los navegadores y los sistemas operativos y si un lector accede al sitio desde un ordenador o un dispositivo móvil). Puede obtener más información sobre la política de privacidad de Google, incluido cómo inhabilitar el seguimiento de Google Analytics.
                    Google Analytics y otros servicios pueden utilizar cookies del navegador web para mejorar la experiencia del usuario. Puede gestionar la configuración de las cookies en su navegador web o inhabilitarlas. 
                    Si desactiva las cookies, es posible que algunas funciones de nuestros sitios web no funcionen correctamente.
                </p>
                <br>
                <br>
                <h4>Ponte en contacto con nosotros en: info@bordercenter.net</h4>
                <br>
                <br>
                <h4>¿CÓMO PROTEGEMOS LOS DATOS?</h4>
                <br>
                <br>
                <br>
                <br>
                <p>
                    Nuestra política de privacidad está sujeta a cambios para garantizar que hacemos todo lo posible para proteger sus datos.
                    Si tiene alguna pregunta sobre esta política, póngase en contacto con nosotros o envíenos un correo electrónico a info@bordercenter.net
                    Este documento se actualizó por última vez el 24 de Marzo de 2023.
                </p>



    </div>
</div>
{% endblock%}