<style>


    .card
    {
      background-color: #000000;
      margin-bottom: 12px;
      border-radius: 4px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%;
      font-family: "Kreon";
      
    }
    
    .card h3{
      font-family: "Kreon";
      font-size: 20px ;
      color: #ffffff;
    }
    
    .card p{
      text-align: justify;
      color: #ffffff;
      text-align: justify;
      font-family: "Kreon", sans-serif;
    }
    
 
    
    .card-image{
      width: 100%;
        height: 300px;
       
    }
    
    
    @media (max-width: 425px){
      .card-image{
        height: 200px;
        width: 100%;
    }
        }
    
    </style>
    
    
    <div class="col">
    <a href='{% url 'investigacion_detalle' slug=articulo.slug %}' style="color: black !important;">
      <div class="card" style='background-color:#000000;box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);margin-bottom:20%; border-color: #FCEA1F;'>
          <div style="width:100%">
            {% if articulo.image%}
            <img  class="card-image" src='{{articulo.image.url}}' class="rounded">
            {%else%}
            <img  class="card-image" src='https://i.ibb.co/sJW1BdX/descarga.jpg' class="inmueble">
            {%endif%}
              
          </div>
          
          <div style="height:200px; padding:0px 10px;" class="text-center ">
              <br>
              <h3>{{ articulo.title }}</h3>
              <p>{{ articulo.introduccion|truncatewords_html:40|safe }}</p>
              <p class="card-text"><p style="color: #FCEA1F;"> 
                {% for etiqueta in articulo.etiquetas.all %}
                <a style="color: #FCEA1F; text-decoration-line: none;" href="{% url 'ver_articulos_por_etiqueta' etiqueta.id %}">#{{ etiqueta.nombre }}</a>
              {% endfor %}</p>
                
              </p>
              <br> 
              <br>
              
          </div>
      </div>
    </a>
    </div>