<style>


    .card
    {
      background-color: #000000;
      margin-bottom: 12px;
      border-radius: 4px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%;
      font-family: "Kreon";
      
    }
    
    .card h3{
      font-family: "Kreon";
      font-size: 20px ;
      color: #ffffff;
    }
    
    .card p{
      text-align: justify;
      color: #ffffff;
      text-align: justify;
      font-family: "Kreon", sans-serif;
    }
    
 
    
    .card-image{
      width: 100%;
        height: 300px;
       
    }
    
    
    @media (max-width: 425px){
      .card-image{
        height: 200px;
        width: 100%;
    }
        }
    
    </style>
    
    
    <div class="col">
    <a href='{% url 'inmueble:inmueble' slug=inmueble.slug %}' style="color: black !important;">
      <div class="card" style='background-color:#000000;box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);margin-bottom:20%;'>
          <div style="width:100%">
            {% if inmuebles.image%}
            <img  class="card-image" src='{{inmuebles.image.url}}' class="rounded">
            {%else%}
            <img  class="card-image" src='https://i.ibb.co/sJW1BdX/descarga.jpg' class="inmueble">
            {%endif%}
              
          </div>
          
          <div style="height:200px; padding:0px 10px;" class="text-center ">
              <br>
              <h3>{{inmueble.development|truncatechars:50 }}</h3>
              <p>{{inmueble.address}}</p>
              <p>Número de licencia {{inmueble.no_licencia}}</p>
              <p>Desarrolladora {{inmueble.owner}}</p>
              <br>
              <br>
          </div>
      </div>
    </a>
    </div>