{% extends 'base.html' %} 
{% load static %}

{% block stylesheets %}
<style>

.image{
    width:503px;
    height: 316px;
}

.detalles{
    text-align: justify;
      color: #ffffff;
      text-align: justify;
      font-family: "Kreon", sans-serif;
}
.detalles h3{
    font-size:30px;
    margin-top: 3%;
}
@media (max-width: 768px) {
  .image{
    width:303px;
    height: 266px;
}

.detalles h3{
    font-size:20px;
    margin-top: 3%;
}

.detalles p{
    font-size:15px;
    margin-top: 3%;
}
}
</style>
{% endblock%}



{% block content %}
<div class="container" style="margin-top:10%;">
    <div class="row">
        <div class="col-md-6">
            {% if inmueble.image%}
            <img  class="image" src='{{inmueble.image.url}}' class="rounded">
            {%else%}
            <img  class="image" src='https://i.ibb.co/sJW1BdX/descarga.jpg' class="inmueble">
            {%endif%}
            {% if inmueble.credits_image%}
              <p style="color: #ffffff; background-color: #000 ;font-size:15px">{{inmueble.credits_image}} <a href="{{inmueble.link }}" style="color: #e1ad02;">{{inmueble.link_image}}</a></p>
            {%endif%}
            <br>
            <br>
            <br>
            <br>
            <div class="detalles">
              <h3>{{inmueble.development|truncatechars:50 }}</h3>
              <p>{{inmueble.streat|title}}, {{inmueble.number}}, {{inmueble.address|title}}.</p>
              <p>Número de licencia {{inmueble.no_licencia}}</p>
              <p>Fecha de acuerdo {{ inmueble.agreement_date|date:"d / m / Y" }}</p>
              <p>Desarrolladora: {{inmueble.owner|title}}</p>
              <p>Características: {{inmueble.characteristics|title}}</p>
              <p>Propietario: {{inmueble.owner|title}}</p>
              <p>Superficie {{inmueble.surface}}</p>
              <p>Niveles {{inmueble.levels}}</p>
              <p>No de departamentos {{inmueble.departments}}</p>
              <p>No de locales {{inmueble.local}}</p>
              <p>No de oficinas {{inmueble.offices}}</p>
              <p>No de estacionamientos {{inmueble.parking}}</p>
              <p>No de estacionamientos requeridos {{inmueble.required_parking}}</p>
              <p>Precio  ${{inmueble.price}}</p>
              <p>Alerta de factibilidad: {{inmueble.alert|title}}</p>
              <p>Observiciones: {{inmueble.observation}}</p>

              <br>
              <br>
            </div>
        </div>
        <div class="col-md-6">
            {% if inmueble.pdf%}
            <object data="{{ inmueble.pdf.url }}" type="application/pdf" width="100%" height="100%">
              <p class="detalles">Este navegador no soporta la visualización de archivos PDF. Puedes descargar el archivo haciendo click <a href="{{ inmueble.pdf.url }}">aquí</a>.</p>
            </object>
            {%else%}
            <object data="https://www.uma.es/ejemplo-grupo-de-investigacion/navegador_de_ficheros/repositorio-grupos-de-investigacion/descargar/documentaci%C3%B3n%20becas%20junta/documento%20de%20prueba.pdf" type="application/pdf" width="80%" height="90%">
                <p class="detalles">Este navegador no soporta la visualización de archivos PDF. Puedes descargar el archivo haciendo click <a href="https://www.uma.es/ejemplo-grupo-de-investigacion/navegador_de_ficheros/repositorio-grupos-de-investigacion/descargar/documentaci%C3%B3n%20becas%20junta/documento%20de%20prueba.pdf">aquí</a>.</p>
              </object>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}